html {
  font-family: Arial;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 3rem;
}

.data-row {
  margin: auto;
  font-size: 1.2rem;
  display: inline-block;
}
.fas {
  margin-left: 10px;
  vertical-align: middle;
}
.measurement {
  vertical-align: middle;
}
.magnitude {
  font-size: 100%;
}
.unit {
  font-size: 90%;
  padding-left: 1px;
}

.station-id {
  font-size: 1rem;
  vertical-align: middle;
  /* padding-bottom: 15px; */
}
.sensor-id {
  font-size: 1rem;
  vertical-align: middle;
  /* padding-bottom: 15px; */
}
.time {
  font-size: 1rem;
  vertical-align: middle;
  /* padding-bottom: 15px; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
