<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" , href="{{ url_for('static', path='/style.css') }}">
    <title>Home Sensor</title>
</head>
<body>
    <h2>Last measurement</h2>
    <div class="data-row">
        <i class="fas fa-id-card" style="color:#000000;"></i>
        <span id="station_id" class="station-id">{{ station_id }}</span>
        <span id="sensor_id" class="sensor-id">{{ sensor_id }}</span>
        <i class="fas fa-clock" style="color:#000000;"></i>
        <span id="measurement_time" class="time">{{ measurement_time_offset }}</span>
        <span class="measurement">
            <i class="fas fa-thermometer-half" style="color:#059e8a;"></i>
            <span class="magnitude" id="temperature">{{ temperature }}</span>
            <span class="unit">&deg;C</span>
        </span>
        <span class="measurement">
            <i class="fas fa-tint" style="color:#00add6;"></i>
            <span class="magnitude" id="humidity">{{ humidity }}</span>
            <span class="unit">%</span>
        </span>
    </div>

    <div class="footer">The date and time on the server is:
        <span id="server_time">{{ server_time }}</span>
    </div>
</body>
<script>
    const refresh_rate = 1000;
    setInterval(function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(this.responseText);
                document.getElementById("station_id").innerHTML = data.station_id;
                document.getElementById("sensor_id").innerHTML = data.sensor_id;
                document.getElementById("server_time").innerHTML = data.server_time;
                document.getElementById("measurement_time").innerHTML = data.measurement_time_offset;
                document.getElementById("temperature").innerHTML = data.temperature;
                document.getElementById("humidity").innerHTML = data.humidity;
            }
        };
        xhttp.open("GET", "/api/measurements", async = true);
        xhttp.send();
    }, refresh_rate);
</script></html>
