<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet", href="static/style.css">
<title>{{ title }}</title>
</head>
<body>
   <h1>Hello, World!</h1>
   <h2>The date and time on the server is: {{ time }}</h2>
   <p>
      <i class="fas fa-thermometer-half" style="color:#059e8a;"></i> 
   </p>
   
</body>
</html>
