<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='moment.min.js') }}"></script>
    <title>Home Sensor</title>
</head>
<body>
    <h2>Last measurement</h2>
    <div class="data-row">
        <i class="fas fa-map-marker-alt"></i>
        <span id="station-location" class="station">{{ station_id }}</span>
        <i class="fas fa-id-card" style="color:#000000;"></i>
        <span id="sensor" class="sensor">{{ sensor_id }}</span>
        <i class="fas fa-clock" style="color:#000000;"></i>
        <span id="measurement_time" class="time">{{ measurement_time_offset }}</span>
        <span class="measurement">
            <i class="fas fa-ruler-vertical" style="color:#000000;"></i>
            <span class="name" id="name">{{ name }}</span>
            <span class="magnitude" id="value">{{ value }}</span>
            <span class="unit" id="unit">{{ unit }}</span>
        </span>
    </div>

    <div class="footer">The date and time on the server is:
        <span id="server-time">{{ server_time }}</span>
    </div>
    <script>
        const refresh_rate = 2000;
        setInterval(function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const data = JSON.parse(this.responseText)[0];
                    // console.log(data);
                    const now = moment();
                    document.getElementById("station-location").innerHTML = data.station.location;
                    document.getElementById("sensor").innerHTML = data.sensor.name;
                    var measurement_time = moment.unix(data.timestamp).utc();
                    document.getElementById("measurement_time").innerHTML = measurement_time.fromNow();
                    document.getElementById("name").innerHTML = data.magnitude.name;
                    document.getElementById("value").innerHTML = data.value;
                    document.getElementById("unit").innerHTML = data.magnitude.unit;
                    document.getElementById("server-time").innerHTML = now.toString();
                }
            };
            xhttp.open("GET", "/api/measurements?limit=1", async = true);
            xhttp.send();
        }, refresh_rate);
    </script>
</body>
</html>
